.menu-label {
    width: 120px;
}

li {
    margin:0;
    padding:0;
    list-style-type: none;
}

.c-color-c {
    display: flex;
}

.color-scale {
    flex: 1 0 3px;
    flex-direction: row;
    height: 25px;
}
.colr-label {
    flex: 1 0 35px;
    flex-direction: row;
    height: 25px;
    justify-content: center;
    text-align: center;
}

.colr-value {
    flex: 1 0 35px;
    flex-direction: row;
    height: 25px;
    justify-content: center;
    text-align: center;
}